footer {
    color: #FF99C9;
}

.site-footer {
    height: 150px;
}

.iconos a {
    text-decoration: none;
    color: #FF99C9;
    margin: 10px;
    font-size: 25px;
}

.iconos a i:hover {
    background-color: #FF99C9;
    color: white;
    border: 1p solid #FF99C9;
    border-radius: 40px;
}